<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Fantastic Stories</title>

</head>
</head>
<body>
<body bgcolor="#F5F5F5">
<div>
    <h2>Fantastic Stories</h2>
    <a href="/story/getAll">See the list of all stories</a><br><br>
    <a href="/author/getAll">See the list of all authors</a><br><br>
    <a href="/issue/getAll">See the list of all issues</a><br><br>
    <a href="/review/getAll">See the list of all reviews</a><br><br>
</div>
</body>
</body>
</html>