<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>See Review</title>

</head>

<body bgcolor="#F5F5F5">
<div class="container">
    <h3>Review for story "<span th:text="${review.getStory().getTitle()}">
       </span>" by <span
            th:text="${review.getStory().getAuthor().getFirstName() + ' ' + review.getStory().getAuthor().getLastName()}"></span>
    </h3>
    <p></p>
    <div>
        <hr>
        <form th:action="@{/review/edit}" th:object="${review}" method="post">
            <p class="text-justify"><span class="font-weight-bold"> Rating: </span><span
                    th:text="${review.rating}"></span></p>
            <hr>
            <p class="text-justify"><span class="font-weight-bold"> Review title: </span><span
                    th:text="${review.title}"></span></p>
            <hr>
            <p class="text-justify"><span class="font-weight-bold"> Review text: </span><span
                    th:text="${review.text}"></span></p>
            <hr>
            <input type="hidden" th:name="review.id" th:value="${review.id}"><br>
            <button class="btn btn-primary" type="submit">Edit Review</button>
        </form>
        <hr>
    </div>
    <body>
    <div>
        <form action="#" th:object="${review}" method="get" th:action="@{/review/delete}">
            <input type="hidden" th:name="review.id" th:value="${review.id}">
            <button class="btn btn-danger" type="submit">Delete Review</button>
        </form>
    </div>
    <hr>
    </body>
    <body>
    <div>
        <form action="#" th:action="@{/backToMainPage}">
            <button class="btn btn-secondary" type="submit">Main Page</button>
        </form>
    </div>
    </body>
    <hr>
    <form action="#" th:action="@{/review/backToMainList}">
        <button class="btn btn-secondary" type="submit">All Reviews List</button>
    </form>
</div>

</body>
</html>